<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583246845024-ilnnrmt3spjhbcldqc9k2jib0bpfr74j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583246845024-ilnnrmt3spjhbcldqc9k2jib0bpfr74j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583246845024-bg7u7jv8eoad8u2o4r9hfse5op794s3m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEXoeEq5fR4NfgYGkeBmX3_R9DUtgiLWM</string>
	<key>GCM_SENDER_ID</key>
	<string>583246845024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pgFinding</string>
	<key>PROJECT_ID</key>
	<string>pg-finding-app-67303</string>
	<key>STORAGE_BUCKET</key>
	<string>pg-finding-app-67303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583246845024:ios:a37d4948f23d7812e59f05</string>
</dict>
</plist>